RewriteEngine On

# Área de testes - Comentar se não for haver testes
RewriteRule ^_testes/?(.*)$ _testes/$1 [NC,L]

# Área Pública
RewriteRule ^public/(.*)?$ public/$1 [NC,L]

# Envia requisição para o index.php
RewriteRule ^/?.*$ index.php [NC,L]