/**
 * Icons
 * \e0da (&#xe0da;) - login
 *
 * Para gerar mais ícones em uma fonte personalizada, sugerimos a ferramenta https://icomoon.io/app
 */
@font-face {
    font-family: 'empty';
    src: url('{{raiz}}fonts/empty.eot?sbtxss');
    src: url('{{raiz}}fonts/empty.eot?sbtxss#iefix') format('embedded-opentype'),
    url('{{raiz}}fonts/empty.ttf?sbtxss') format('truetype'),
    url('{{raiz}}fonts/empty.woff?sbtxss') format('woff'),
    url('{{raiz}}fonts/empty.svg?sbtxss#empty') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'empty' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Melhor renderização da fonte === */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
    content: "\e0da";
}

/**
 * Padrões
 */

* {
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    color: #555;
    background: #fdfdfd;
}

input, textarea, select, button, a.btn {
    display: inline-block;
    font-size: 14px;
    outline: none;
    line-height: 14px;
    padding: 5px;
    text-decoration: none;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

img {
    width: auto;
    max-width: 100%;
}

p {
    display: block;
    margin: 3% 0;
}

code, pre {
    display: block;
    margin: 3% 2%;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-bottom: 2%;
}

h1 {
    font-size: 1.8em;
    line-height: 1.8em;
}

h2 {
    font-size: 1.6em;
    line-height: 1.6em;
}

h3, h4, h5, h6 {
    font-size: 1.4em;
    line-height: 1.4em;
}

ul, li {
    display: block;
    list-style: none;
}

.container {
    display: block;
}

.erro {
    display: block;
    padding: 10px;
    border: 1px solid #C31C1C;
    color: #C31C1C;
    background: #FFF3F3;
    margin: 0 0 3%;
}

.msg {
    display: block;
    padding: 10px;
    border: 1px solid #107121;
    color: #107121;
    background: #D3F9D8;
    margin: 0 0 3%;
}

.erro p, .msg p {
    margin: 0;
}

.erro p::before, .msg p::before {
    content: '• ';
}

/**
 * Formulários
 */

label {
    color: #666;
    font-size: .9em;
}

/** Campos de texto */
.text {
    border: 1px inset #eee;
    background: #fafafa;
    background: linear-gradient(#fafafa, #fefefe);
    color: #666;
}

.text:focus {
    background: #fff;
    outline: none;
    box-shadow: inset 0 -2px #999999;
}

/** Botões */
.btn {
    border: 1px outset #eee;
    background: #b7ffbc;
    color: #085327;
    font-weight: bold;
    font-size: .9em;
    cursor: pointer;
}

.btn:active {
    background: #f4f4f4;
    background: linear-gradient(#f4f4f4, #eee);
    border: 1px inset #eee;
    color: #fff;
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
}
