@import url(https://fonts.googleapis.com/css?family=Work+Sans:200,400);


a {
    color: #ffc3bc;
    text-decoration: none;
}

a:hover {
    color: #9b0909;
}

.container {
    margin: 15% 10%;
    text-align: center;
}

h1, h2 {
    font: 24pt 'Work Sans', sans-serif;
    color: #999;
    letter-spacing: .2em;
}

h2 {
    font-size: 16pt;
    font-weight: 200;
    letter-spacing: .4em;
}